<div class="cd-sign-infobox">
	<p>Here we go!</p>
</div>

<div class="cd-about">
	<div class="cd-about-title">
		<%= image_tag "about/zombie.png" %>
		<h4>My name is Tigran Terian</h4>
	</div>

	<div class="cd-about-content">
		<p>I am a full stack web developer and a coding enthusiast!</p>
		<p>This webpage was designed and developped with love and just for fun. It is an experimental playground for MixitUP JS library as well as some user login/logout cases (with Devise). Well, I do practice all the new stuff I face in the net, so this was the time with item listing, filtering and sorting with JS. Though sorting feature isn't implemented yet, I'll dedicate some time for it as well. That's it I guess... BTW I am a big fan of Rails!</p>
		<p>If you liked what I did here and are interested in my other works, then feel free to comment/follow me :)</p>
		<ul>
			<li>
				<a href="https://github.com/tterian">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/TigranTerian">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/Tigran.Terian">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
	</div>
</div>