<main class="cd-main-content">
	<div class="cd-tab-filter-wrapper">
		<div class="cd-tab-filter">
			<ul class="cd-filters">
				<li class="placeholder"> 
					<a data-type="all" href="#0">All</a>
				</li> 
				<li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
				<li class="filter" data-filter=".drink"><a href="#0" data-type="drink">Drink</a></li>
				<li class="filter" data-filter=".food"><a href="#0" data-type="food">Food</a></li>
			</ul>
		</div>
	</div>

	<section class="cd-gallery">
		<ul>
			<%= render @foods %>
			<li class="gap"></li>
			<li class="gap"></li>
			<li class="gap"></li>
		</ul>
		<div class="cd-fail-message">No results found</div>
	</section>

	<div class="cd-filter">
		<form>
			<div class="cd-filter-block">
				<h4>Search</h4>
					
				<div class="cd-filter-content">
					<input type="search" placeholder="Search for a food...">
				</div>
			</div>

			<div class="cd-filter-block">
				<h4>Check boxes</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".coffee" type="checkbox" id="checkbox1">
		    			<label class="checkbox-label" for="checkbox1">Coffee lovers</label>
					</li>

					<li>
						<input class="filter" data-filter=".alcohol" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">Alcohol stuff</label>
					</li>

					<li>
						<input class="filter" data-filter=".tasty" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">So sweat</label>
					</li>

					<li>
						<input class="filter" data-filter=".sushi" type="checkbox" id="checkbox4">
						<label class="checkbox-label" for="checkbox4">Sushi fans</label>
					</li>

					<li>
						<input class="filter" data-filter=".fast" type="checkbox" id="checkbox5">
						<label class="checkbox-label" for="checkbox5">Fast food</label>
					</li>

					<li>
						<input class="filter" data-filter=".morning" type="checkbox" id="checkbox6">
						<label class="checkbox-label" for="checkbox6">Morning pair</label>
					</li>

					<li>
						<input class="filter" data-filter=".birthday" type="checkbox" id="checkbox7">
						<label class="checkbox-label" for="checkbox7">Happy birthday</label>
					</li>

				</ul>
			</div>
		</form>

		<a href="#" class="cd-close">
			<i class="fa fa-times"></i>
		</a>
	</div>

	<a href="#" class="cd-filter-trigger">
		<i class="fa fa-sliders"></i>
		Filters
	</a>
</main>