<main class="cd-main-content">
	<div class="cd-tab-filter-wrapper">
		<div class="cd-tab-filter">
			<ul class="cd-filters">
				<li class="placeholder"> 
					<a data-type="all" href="#0">All</a>
				</li> 
				<li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
				<li class="filter" data-filter=".drink"><a href="#0" data-type="drink">Drink</a></li>
				<li class="filter" data-filter=".food"><a href="#0" data-type="food">Food</a></li>
			</ul>
		</div>
	</div>

	<section class="cd-gallery">
		<ul>
			<li class="mix drink alcohol beer" data-order="2">
				<img src="assets/food/beer.png" alt="beer">
				<span>beer</span>
			</li>
			<li class="mix morning food tasty biscuit" data-order="3">
				<img src="assets/food/biscuit.png" alt="biscuit">
				<span>biscuit</span>
			</li>
			<li class="mix birthday food tasty cake" data-order="1">
				<img src="assets/food/cake.png" alt="cake">
				<span>cake</span>
			</li>
			<li class="mix drink alcohol cocktail" data-order="4">
				<img src="assets/food/cocktail.png" alt="cocktail">
				<span>cocktail</span>
			</li>
			<li class="mix drink coffee cappuccino" data-order="5">
				<img src="assets/food/coffee1.png" alt="cappuccino">
				<span>cappuccino</span>
			</li>
			<li class="mix drink coffee espresso" data-order="6">
				<img src="assets/food/coffee2.png" alt="espresso">
				<span>espresso</span>
			</li>
			<li class="mix drink coffee americano" data-order="7">
				<img src="assets/food/coffee3.png" alt="americano">
				<span>americano</span>
			</li>
			<li class="mix drink coffee macchiato" data-order="8">
				<img src="assets/food/coffee4.png" alt="macchiato">
				<span>macchiato</span>
			</li>
			<li class="mix food tasty muffin" data-order="9">
				<img src="assets/food/cookies.png" alt="muffin">
				<span>muffin</span>
			</li>
			<li class="mix food tasty doughnut" data-order="10">
				<img src="assets/food/doghnut.png" alt="doughnut">
				<span>doughnut</span>
			</li>
			<li class="mix fast food option4 hamburger" data-order="11">
				<img src="assets/food/hamburger.png" alt="hamburger">
				<span>hamburger</span>
			</li>
			<li class="mix fast food option4 hotdog" data-order="12">
				<img src="assets/food/hotdog.png" alt="hotdog">
				<span>hotdog</span>
			</li>
			<li class="mix tasty option2 ice cream" data-order="13">
				<img src="assets/food/ice-cream.png" alt="ice-cream">
				<span>ice cream</span>
			</li>
			<li class="mix food sushi option3 california roll" data-order="14">
				<img src="assets/food/sushi1.png" alt="sushi1">
				<span>California roll</span>
			</li>
			<li class="mix food sushi option1 texas roll" data-order="15">
				<img src="assets/food/sushi2.png" alt="sushi2">
				<span>Texas roll</span>
			</li>
			<li class="mix food sushi option4 boston roll" data-order="16">
				<img src="assets/food/sushi3.png" alt="sushi3">
				<span>Boston roll</span>
			</li>
			<li class="mix morning drink option3 tea" data-order="17">
				<img src="assets/food/tea.png" alt="tea">
				<span>tea</span>
			</li>
			<li class="mix drink alcohol birthday option4 white wine" data-order="18">
				<img src="assets/food/wine.png" alt="white-wine">
				<span>white wine</span>
			</li>
			<li class="mix drink alcohol birthday option2 red wine" data-order="19">
				<img src="assets/food/wine-glass.png" alt="red-wine">
				<span>red wine</span>
			</li>
			<li class="gap"></li>
			<li class="gap"></li>
			<li class="gap"></li>
		</ul>
		<div class="cd-fail-message">No results found</div>
	</section>

	<div class="cd-filter">
		<form>
			<div class="cd-filter-block">
				<h4>Search</h4>
					
				<div class="cd-filter-content">
					<input type="search" placeholder="Search for a food...">
				</div>
			</div>

			<div class="cd-filter-block">
				<h4>Check boxes</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".coffee" type="checkbox" id="checkbox1">
		    			<label class="checkbox-label" for="checkbox1">Coffee lovers</label>
					</li>

					<li>
						<input class="filter" data-filter=".alcohol" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">Alcohol stuff</label>
					</li>

					<li>
						<input class="filter" data-filter=".tasty" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">So sweat</label>
					</li>

					<li>
						<input class="filter" data-filter=".sushi" type="checkbox" id="checkbox4">
						<label class="checkbox-label" for="checkbox4">Sushi fans</label>
					</li>

					<li>
						<input class="filter" data-filter=".fast" type="checkbox" id="checkbox5">
						<label class="checkbox-label" for="checkbox5">Fast food</label>
					</li>

					<li>
						<input class="filter" data-filter=".morning" type="checkbox" id="checkbox6">
						<label class="checkbox-label" for="checkbox6">Morning pair</label>
					</li>

					<li>
						<input class="filter" data-filter=".birthday" type="checkbox" id="checkbox7">
						<label class="checkbox-label" for="checkbox7">Happy birthday</label>
					</li>

				</ul>
			</div>
		</form>

		<a href="#" class="cd-close">
			<i class="fa fa-times"></i>
		</a>
	</div>

	<a href="#" class="cd-filter-trigger">
		<i class="fa fa-sliders"></i>
		Filters
	</a>
</main>