

<!DOCTYPE html>
<html>
<head>
	<title>Rankme</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="container">

<% unless user_signed_in? %>  
	<%= link_to "Home", root_path %> |
	<%= link_to "Login", new_user_session_path %> |
	<%= link_to "Register", new_user_registration_path %>
<% else %>  
	<%= link_to "Home", root_path %> |
	<%= "Signed in as #{current_user.email}" %> |
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>

<hr>

<% if notice %>  
	<div class="notice"><%= notice %></div>
<% elsif alert %>  
	<div class="alert"><%= alert %></div>
<% end %>

<%= yield %>

</body>
</html>
