/* -------------------------------- 
Navigation
-------------------------------- */

$grey:		#9a9a9a;
$black:		#3d3536;
$yellow:	#ede591;
$pink:		#de505e;

.cd-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 2;
}

.cd-header #cd-logo {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 0 0 5%;
	padding-top: 10px;
	height: 100%;
	z-index: 4;
}


.cd-header #cd-logo span {
	font-family: 'Lobster', cursive;
	font-size: 2rem;
	float: left;
	color: $pink;
}

.cd-header #cd-menu {
	position: relative;
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: image-url("icons/svg/menu-icon.svg") no-repeat center center;
	background-size: 44px 44px;
	cursor: pointer;
	z-index: 4;
}



.cd-main-nav {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	width: 50%;
	height: 60px;
	background: transparent;
	z-index: 3;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-main-nav::before {
	/* top colored bar */
	content: '';
	top: 0;
	right: 0;
	height: 60px;
	background: transparent;
	z-index: 3;
}
.cd-main-nav.is-visible {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.cd-main-nav li {
	position: relative;
	float: right;
	display: inline-block;
	margin: 15px;
}

.cd-sign-in, .cd-sign-out {
	margin-right: 100px; 
	width: 32px;
}

.cd-about-me {
	width: 32px;
}

