/* -------------------------------- 
Navigation
-------------------------------- */

$black:		#3d3536;
$yellow:	#ede591;
$pink:		#de505e;

.cd-header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

.cd-header #cd-logo {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 0 0 5%;
	padding-top: 10px;
	height: 100%;
	z-index: 4;
}


.cd-header #cd-logo span {
	font-family: 'Lobster', cursive;
	font-size: 2rem;
	float: left;
	color: $pink;
}

.cd-header #cd-menu {
	position: relative;
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: image-url("icons/svg/menu-icon.svg") no-repeat center center;
	background-size: 44px 44px;
	cursor: pointer;
	z-index: 4;
}



.cd-main-nav ul {
	height: 160px;
	position: relative;
	top: 0;
	left: 0;
	background-color: white;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);

	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	z-index: 0;
}
.cd-main-nav ul.is-visible {
	position: relative;
	background-color: white;
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-ms-transform: translateY(60px);
	-o-transform: translateY(60px);
	transform: translateY(60px);

	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	z-index: 0;
}

.cd-main-nav li {
	position: relative;
	display: inline-block;
	margin-left: 1em;
}

.cd-main-nav a {
	position: relative;
	display: inline-block;
	height: auto;
	line-height: normal;
	padding: 1em 1em;
	border-top: none;
	color: $pink;
	font-weight: 300; 
	font-size: 1.5rem;
}

.cd-main-nav img {
	margin: 1em 0 0 0;
	width: 44px;
}